input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

.text {
    color:black;
}
.form {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 1vw;
    padding-right: 52vw;
  }
  
  .form > h1 {
    margin-bottom: 30px;
    margin-top: 2vh;
    font-size:xx-large;
  }
  
  .form > input,
  textarea {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    background: #fff;
    font-size: 16px;
    color:black;
    outline: none;
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196);
  }
  
  .form > textarea {
    height: 150px;
    max-width: 400px;
    min-height: 100px;
  }
  
  .form > label {
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
  }
  
  .form > button {
    padding: 20px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    margin-right: 14.7vw;
  }
  
  .form > button:hover {
    background: linear-gradient(#ff0000e3,#5f2424, #320f0f);
  }