@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.player-wrapper {
  position: relative;
  margin: 0 -1px 0 0;
  padding-top: 56.25%;
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 20vh;
}

.inflex-flex items-center py-3 px-3 my-6 text-red-200 hover:text-green-800 {
font-size: 1.5rem;
}

.header {
  background-image: linear-gradient(#ff0000e3,#510707, black);

}


.main_name {
  display: flex;
  color: black;
  background: white;
  align-items: center;
  font-size: 40px;
  text-align: center;
  font-family: "Amatic SC";
  margin-left: 1vw;
  margin-right: 1vw;
  line-height: 1;
  width: 200px;
  height: 100px;
  border-radius: 100px / 50px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.secondary_name {
  font-family: Arial;
  justify-content: center;
  color: white;
  padding-top: 3vh;
  display: flex;
  font-size: 32px;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.active {
  background-color: black;
  color: white;
}
.secondary_active {
  justify-content: center;
  font-size: 34px;
  width: 200px;
  height: 100px;
  border-radius: 100px / 50px;
  background-color: black;
  color: white;
}


  @media (max-width: 648px) {
    /*Mobile View */
    .flex {
      font-size: 25px;
      display: flex;
      width: 100%;
      height: 350px;
      top: 80px;
      left: -100%;
      transition: all 0.5s ease;
      flex-direction: column;
      list-style-type: none;
      grid-gap: 0px;


    }
    .active {
      margin-left: 25%;
    }
    .main_name {
      margin-left: 25%;
    }
    .secondary_active {
      margin-left: 25%;
    }
  }