.main {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.primary {
  align-content: center;
  background: url("http://lorempixel.com/400/400/sports/2") no-repeat; 
  background-size: cover;
  height: 40vh;
  position: relative;
  border: 1px solid;
  margin-bottom: 10vh;
}
.primary_text {
  text-align: center;
  line-height: 1.2em;
}
.primary p{
  text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: 0 auto;
    left: 50%;
}

.secondary {
  display: flex;
  align-items: center;
  border: 1px solid blue;
}
.secondary__text {
  margin: 10px 5% 10px 5%;
  width: 40%;
}
.secondary__text p {
  text-align: center;
  font-size: 2vw;
}
.secondary__text h3 {
  text-align: center
}
.secondary__image {
  max-width: 50%;
  max-height: 100%;
  display:block;
  border: 1px solid green;
  /* position: flex; */

}
.secondary__image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;

}
.hourly_rate {
  border: 2px solid pink;
  
}

.hourly_rate h4 {
text-align: center;
}
.hourly__text {
  text-align: left;
  display: flex;
  justify-content: space-around;
  /* display: block;
  position: flex; */
}

.div_text {
  text-align: center
}


@media only screen and (max-width: 600px) {
  .secondary__image img {
    width: 177px;
      height: 486px;
      object-fit: fill
  }

  .secondary__text {
    font-size: medium
  }
}