.hourly_rate {
    color:white;
    
  }
  
  .hourly_rate h4 {
  text-align: center;
  }

  .hourly_rate h5 {
    text-align: center;
    margin-bottom: 1vh;
  }
  .hourly__text {
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-around;
  }